<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Innovative Data Engineer with a Bachelor's degree in Technology and 3+ years of experience in AI, 
          cloud technologies, and data migration. Skilled in AWS services, Python, SQL, and machine learning, 
          I specialize in developing efficient data solutions that enhance decision-making and business insights.</p>
      </div>
      <div class="col-lg-4">
        <p>Experienced in leading teams and managing projects in fast-paced environments, 
          I excel at delivering results that align with client goals. Focused on continuous learning and process optimization, 
          I am committed to driving successful, data-driven transformations.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
